/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Quote Table */
.quote-table {
    margin-left: auto;
    margin-right: auto;
}

.quote-table th {
    background-color: #537fbe;
    padding: 0.5rem 3rem;
    color: #ffffff;
}

.quote-table td {
    padding: 1rem 3rem;
    background-color: #f5f5f5;
}

/* Index Page Table */
.table-style {
    margin: 2em auto 0;
    width: 70%;
    text-align: right;
}

.table-style thead tr {
    border-bottom: 1px dashed #808080;
}

.table-style tfoot tr:nth-child(1) {
    border-top: 1px dashed #808080;
}

.table-style thead tr th,
.table-style tfoot tr th,
.table-style tfoot tr td {
    padding: .75em;
    font-size: 1.05rem;
    letter-spacing: 1px;
}

.table-style tbody tr td {
    padding: .75em;
}

.table-style thead tr th:nth-child(1),
.table-style tbody tr td:nth-child(1) {
    text-align: left;
}

.table-style tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.table-style tbody tr:hover {
    background-color: #537fbe;
    color: #ffffff;
}

/* Sell Page */
select {
    padding: 0.5rem 0.75rem;
}
