{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>

    <table class="table-style">
        <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price</th>
                <th scope="col">TOTAL VALUE</th>
            </tr>
        </thead>
        <tbody>
            {% for row in portfolio %}
                <tr>
                    <td>{{ row.stock_symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.current_price }}</td>
                    <td>{{ row.total_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row" colspan="3">Cash</th>
                <td>{{ cash }}</td>
            </tr>
            <tr>
              <th scope="row" colspan="3">TOTAL BALANCE</th>
              <td>{{ total }}</td>
          </tr>
        </tfoot>
    </table>
{% endblock %}
